<!DOCTYPE html>
<html lang="en">
<%- include("../includes/head",{pageTitle : "Signup" }) %>
    <link rel="stylesheet" href="/styles/product.css">
    </head>

    <body>
        <%- include("../includes/header") %>
            <main>
                <section>
                    <h1>
                        Product Adminstration
                    </h1>
                    <h2>
                        Mange Products
                    </h2>
                    <p>
                        <a class="btn" href="/admin/products/new">Add Product</a>
                    </p>
                </section>
                <section class="product-list">
                    <ul id="product-grid">

                        <% for (const product of products) { %>

                            <li>
                                <%- include("../includes/productItem", {product}) %>
                            </li>
                            <% }%>
                    </ul>
                </section>
            </main>
            <!-- inlcude footer in the future   -->
            <!-- move this body and html into that -->
    </body>

</html>