<!DOCTYPE html>
<html lang="en">
<%- include("../includes/head",{pageTitle : "Update Product" }) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/adminForm.css">

    <body>
        </head>

        <%- include("../includes/header") %>
            <main>
                <h1>
                    Update Product
                </h1>
                <%- include("../includes/productForm",{submitUrl : "/admin/products/" + productId
                    ,product,imageRequired: false}) %>
            </main>
            <!-- inlcude footer in the future   -->
            <!-- move this body and html into that -->
    </body>

</html>