<header id="main-header">
  <div id="logo">
    <a href="/">MyMart</a>
  </div>
  <nav class="nav-bar"><%- include('navItem') %></nav>
  <div>
    <button id="mobile-menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
<aside id="mobile-menu">
  <nav><%- include('navItem') %></nav>
</aside>