<!DOCTYPE html>
<html lang="en">
<!-- inlcudes the head in the file -->
<!-- this contians the metatags and title of the page -->
<%- include("../includes/head",{pageTitle : "Signup" }) %>
  <!-- head is closed here so that specific type of styles that depends on the page may include here -->
  <link rel="stylesheet" href="styles/error.css">
  </head>

  <body>
    <main>
      <div class="error-box">
        <h1>500 - Server Error</h1>
        <p>Something went wrong on our end. Please try again later.</p>
        <div class="btn-wrapper">
          <a href="/" class="btn">Go Home</a>
        </div>
      </div>
    </main>
  </body>

</html>