main {
    min-height: 100vh;
    text-align: center;
}

.error-box {
    background-color: var(--color-gray-600);
    padding: var(--space-8);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--shadow-medium);
    max-width: 600px;
    width: 90%;
}

h1 {
    font-size: var(--font-xl);
    margin-bottom: var(--space-4);
    color: var(--color-error-100);
}

p {
    font-size: var(--font-md);
    margin-bottom: var(--space-4);
    color: var(--color-gray-100);
}

.btn-wrapper {
    margin-top: var(--space-4);
}
