<header>
  <div>
    <a href="/">MyMart</a>
  </div>
  <nav>
    <ul>
      <li><a href="/products">Products</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/orders">Orders</a></li>
      <li><a href="/profile">Profile</a></li>
      <% if (locals.isLoggedIn) { %>
        <form action="/logout" method="POST">
          <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
          <button type="submit">Logout</button>
        </form>
        <% } %>
    </ul>
  </nav>
</header>